<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}
    / Always force latest IE rendering engine or request Chrome Frame
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    %meta{:name => "keywords", :content => "oaxacarb, oaxaca, codigo, ruby, rails, ruby on rails, comunidad, programacion, programacion agil, TDD, programacion segura, comunidad oaxacarb, html, css, javascript, angularjs, haml, sass, scss, preprocesadores, testing drive development, logicalbricks, organizacion, code ruby, code, lo mejor de oaxaca, ruby oaxaca, rails oaxaca, vim"}
    / Use title if it's in the page YAML frontmatter
    %title= "#{ current_page.data.title } - oaxaca.rb"
    = favicon_tag 'favicon.ico'
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    = stylesheet_link_tag "all"
    = javascript_include_tag  "app"
  %body{:class => page_classes}
    / Nav Bar
    #main.row
      = partial 'header'
    #header
    / Main Page Content and Sidebar
    #content.row
      ~ yield
      = partial 'sidebar'
    / Footer
    %footer.row
      = partial 'footer'
