---
title: Acerca de
---

.large-9.columns{ role: 'content' }
  %h2
    %i.fi-info.size-12
    oaxaca.rb
  %p
    Es una comunidad de desarrolladores Oaxaqueños que tiene como objetivo impulsar el uso de
    = link_to 'Ruby', 'https://www.ruby-lang.org/es/', target: :_blank
    como lenguaje de programación y todas las herramientas relacionadas con dicho lenguaje.
  %p Como un complemento al uso del lenguaje se busca motivar el uso de prácticas ágiles de desarrollo, que permitan garantizar la mayor calidad del software con el menor esfuerzo.
  %p Aunque esta comunidad se enfoque en Oaxaca, no busca limitarse a la cuestión geográfica, por lo que cualquier colaboración con otras comunidades o programadores de otros lugares es bienvenida.
  %h3="¿Qué hacemos?"
  %p Para lograr nuestros objetivos, buscamos ser una comunidad abierta que permita la colaboración a través de los diferentes medios electrónicos que tenemos disponibles. Así como realizar eventos que permitan compartir conocimiento y acercar más a la comunidad para un aprendizaje compartido.
  %h3="Fundadores"
  %ul
    %li
      = link_to 'apux', 'https://github.com/apux', target: :_blank
    %li
      = link_to 'fervisa', 'https://github.com/fervisa', target: :_blank
    %li
      = link_to 'garcialopezco', 'https://github.com/garcialopezco', target: :_blank
    %li
      = link_to 'thotmx', 'https://github.com/thotmx', target: :_blank

  %h3 Segundo Coding Dojo
  = image_tag 'images/2014/0321/dojo.jpg', class: 'th radius'
  %hr
  %h3 Primer Coding Dojo
  = image_tag 'images/2014/0304/miembros.jpg', class: 'th radius'
  %hr
