---
title: Agradecimientos
---
.large-9.columns{ role: 'content' }
  %h2
    %i.fi-info.size-12
    oaxaca.rb
  %p
    Todos los logros y actividades realizadas en la comunidad no hubieran sido posibles sin el apoyo de muchas personas e instituciones que nos apoyaron desde nuestra conformación.
.large-9.columns
  %p Las siguientes empresas e instituciones nos apoyaron en algún momento con un lugar para realizar nuestras actividades.
  .row
    .panel.large-4.columns
      %a{ href: 'http://www.municipiodeoaxaca.gob.mx/', title: 'Municipio de Oaxaca'}
        = image_tag 'gracias/municipio-oaxaca-2011-2013.jpg', class: 'th radius grayscale'
      %h3 Municipio de Oaxaca 2011-2013
      %p
        A la Secretaría de Turismo y Desarrollo Económico
        por brindarnos el espacio para la realización de nuestras actividades.
    .panel.large-4.columns
      %a{ href: 'http://www.pypo.mx/', title: 'PyPO'}
        = image_tag 'gracias/pypo.png', class: 'th radius grayscale'
      %h3 Pinturas y publicidad de Oaxaca
      %p
        Por su invaluable apoyo cuando comenzamos la comunidad,
        a los dueños de PyPO y a
        %a{href: 'https://twitter.com/kuuije'}Erik Corona
        \.
    .panel.large-4.columns
      %a{ href: 'http://www.huboaxaca.org/', title: 'ImpactHub Oaxaca'}
        = image_tag 'gracias/impact-hub.jpg', class: 'th radius grayscale center'
      %h3 ImpactHub Oaxaca
      %p Por brindarnos acceso gratuito a sus instalaciones para la realización de nuestras actividades.
  .row
    .panel.large-4.columns
      %a{ href: 'http://flisoloax.org/', title: 'Flisol Oaxaca'}
        = image_tag 'gracias/flisol-oaxaca.png', class: 'th radius grayscale center'
      %h3 FLISOL Oaxaca
      %p Por brindarnos un espacio para la realización de un Coding Dojo durante el FLISOL 2014.
    .panel.large-4.columns
      %a{ href: 'http://casadelenguasoaxaca.weebly.com/', title: 'Casa de Lenguas Oaxaca'}
        = image_tag 'gracias/casa-de-lenguas.jpg', class: 'th radius grayscale center'
      %h3 Casa de Lenguas Oaxaca
      %p Por brindarnos acceso a sus instalaciones para la realización de nuestras actividades.
  .row
    %h2 Agradecimiento Especial
    .panel.large-6.columns
      %a{ href: 'http://www.cocyt.oaxaca.gob.mx/', title: 'COCyT'}
        = image_tag 'gracias/cocyt.png', class: 'th radius grayscale center'
      %h3 Consejo Oaxaqueño de Ciencia y Tecnología
      %p Por brindarnos un espacio permanente y todas las facilidades para realizar nuestras actividades periódicas.
    .panel.large-6.columns
      %a{ href: 'https://www.jetbrains.com/', title: 'JetBrains'}
        = image_tag 'gracias/logo_jetbrains.png', class: 'th radius grayscale center'
      %h3 JetBrains
      %p
        Por apoyar a la comunidad con Licencias Gratuitas de su producto estrella para desarrollo en Ruby
        %a{ href: 'https://www.jetbrains.com/ruby', title: 'RubyMine'}
          = image_tag 'gracias/logo_rubymine.png', class: 'th radius grayscale center'

