---
title: oaxaca.rb
pageable: true
---

/ Main Blog Content
.large-9.columns{:role => "content"}
  - if paginate && num_pages > 1
    %p
      Página #{page_number} de #{num_pages}
  - if paginate
    - if prev_page
      %span.left= link_to 'Anterior', prev_page
    - if next_page
      %span.right= link_to 'Siguiente', next_page
  %br
  - page_articles.each_with_index do |article, i|
    %article
      %h3
        = link_to article.title, article
      %h6.datos
        Escrito el
        %span= article.date.strftime('%a %e %B, %Y')
      %br/
      /
        use article.summary(250) if you have Nokogiri available to show just
        the first 250 characters
      = article.summary(830)
      = link_to article do
        %i.fi-page-search
        &nbsp;
        Leer más
      %hr/
  - if paginate
    - if prev_page
      %span.left= link_to 'Anterior', prev_page
    - if next_page
      %span.right= link_to 'Siguiente', next_page
/ End Main Content
